body {
  background: url(../img/pexels-rodolfo-clix-1596888.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pizza-responses {
  display: none;
}