body {
  background: url(../img/pexels-rodolfo-clix-1596888.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  color: black;
}
#pizza-responses {
  display: none;
}
/* .container {
  background-color: rgba(155, 18, 29, 0.4);
  border: 2px solid black;
} */
.container {
  background: url(../img/pexels-photo-268349.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color:   rgba(155, 18, 29, 0.4);
  border-radius: .3rem;
  border: 2px solid black;
}